<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
    <label for="feedback">What did you like about the boot camp?</label><br>
        <div onclick="func2()">
            <input type="checkbox" name="rad" value="technologies used" id="ask1">
            <label for="technologies used">The technologies used</label><br>

            <input type="checkbox" name="rad" value="skills" id="ask2">
            <label for="skills">The skills acquired</label><br>

            <input type="checkbox" name="rad" value="food and drinks" id="ask3">
            <label for="food and drinks">The food and drinks</label><br>

            <input type="checkbox" name="rad" value="The accommodation" id="ask4">
            <label for="The accommodation">The accommodation</label><br>

            <input type="checkbox" name="rad" value="trainers" id="ask5">
            <label for="trainers">The trainers</label><br>

            <input type="checkbox" name="rad" value="fellow students" id="ask6">
            <label for="fellow students">Your fellow students</label><br>
        </div>
        <input type="checkbox" name="rad" value="none" id="ask7" onclick="func1()">
        <label for="none">Nothing</label><br>
        
</form>


<script src="js/main.js"></script>
</body>
</html>